aiogram==3.4.1
Aspose.Slides==24.3.0
certifi==2024.2.2
charset-normalizer==3.3.2
python-dotenv==1.0.1
psycopg2-binary==2.9.9
idna==3.6
long==0.0.1
lxml==5.2.1
pillow==10.3.0
psycopg2==2.9.9
python-pptx==0.6.23
requests==2.31.0
schedule==1.2.1
urllib3==2.2.1
XlsxWriter==3.2.0
yadisk==2.1.0
